<?xml version="1.0"?>
<config>
    <modules>
        <Dtn_Eav>
            <version>0.1.0</version>
        </Dtn_Eav>
    </modules>
    <global>
        <block>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>Dtn_Eav_Block_Adminhtml_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
                </rewrite>
            </adminhtml>
        </block>
        <resources>
            <dtn_eav_setup>
                <setup>
                    <module>Dtn_Eav</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dtn_eav_setup>
        </resources>
    </global>
</config>