<?xml version="1.0"?>
<config>
    <modules>
        <Dtn_Eav>
            <version>0.1.0</version>
        </Dtn_Eav>
    </modules>
    <global>
        <blocks>
            <dtn_eav>
                <class>Dtn_Eav_Block</class>
            </dtn_eav>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>Dtn_Eav_Block_Adminhtml_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <dtn_eav>
                <class>Dtn_Eav_Model</class>
            </dtn_eav>
        </models>
        <resources>
            <dtn_eav_setup>
                <setup>
                    <module>Dtn_Eav</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dtn_eav_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dtn_Eav before="Mage_Adminhtml">Dtn_Eav_Adminhtml</Dtn_Eav>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dtn_eav>
                    <file>dtn_eav.xml</file>
                </dtn_eav>
            </updates>
        </layout>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <dtn_eav>
                        <class>dtn_eav/observer</class>
                        <method>catalogAttributeSaveAfter</method>
                    </dtn_eav>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
    </adminhtml>
</config>